.grid-layout {
    display: grid;
    grid-template-columns: 200px 1fr 200px; /* nav: 200px, article: 残り全て, aside: 200px */
    grid-template-rows: 1fr;
    height: 100%;
    overflow-y: hidden;
}
.grid-layout > *{
    overflow-y: auto;
    min-height: 0;
}
